.technology {

    &__text {
        width: 820px;
        font-weight: 100;
        font-size: 24px;
        line-height: 44px;
        text-align: center;
        margin: 0 auto 80px auto;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 28px;
        margin: 75px auto 0 auto;
        max-width: 100%;
        padding-left: 0;
    }

    &__item {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        border-radius: 9px;
        box-shadow: 0 3.4047px 2.55353px rgba(0,0,0,.25);;
    }

    &__item img {
        object-fit: cover;
        max-height: 100%;
    }
}

@media (max-width: 1024px) {
    .technology {

        &__text {
            width: 100%;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 0;
        }

    }
}
