<div class="popup popup__get-kp" id="popup__get-kp">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"></a>
            <div class="popup__title">Получить коммерческое предложение</div>
            <form id="form_id" onsubmit="javascript:return validate('form_id','email')" action="post" name="offer">

                <div class="popup__email-wrapper">
                    <label class="popup-offer__title">Ваша почта</label>
                    <input required type="email" id="email" class="popup__email email" placeholder="mail@mail.ru">
                </div>

                <div class="popup__tel-wrapper">
                    <label class="popup-offer__title">Ваш номер телефона</label>
                    <input required type="tel" name="phone_number" class="popup__tel tel" placeholder="+7 000 000 00 00" pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}">
                </div>

                <p class="popup-offer__info">Заполнение этой формы ни к чему Вас не обязывает. Наш менеджер перезвонит Вам, уточнит детали и вышлет детальное коммерческое предложение</p>
                <p class="popup-offer__recall">Или перезвоните сами</p>
                <a class="popup-offer__recall-link" href="tel:+79272705330">+7 927 270 53 30</a>
                <button type="submit" value="Submit" class="popup-offer__submit btn-submit button button--submit">Отправить</button>
            </form>
        </div>
    </div>
</div>


<div class="popup popup__discount" id="popup__discount">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup"></a>
            <div class="popup__title">Получить коммерческое предложение</div>
            <form id="form_id2" onsubmit="javascript:return validate('form_id','email')" action="post" name="offer">

                <div class="popup__email-wrapper">
                    <label class="popup-offer__title">Ваша почта</label>
                    <input required type="email" id="email2" class="popup__email email" placeholder="mail@mail.ru">
                </div>

                <div class="popup__tel-wrapper">
                    <label class="popup-offer__title">Ваш номер телефона</label>
                    <input required type="tel" name="phone_number" class="popup__tel tel" placeholder="+7 000 000 00 00" pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}">
                </div>

                <p class="popup-offer__info">Заполнение этой формы ни к чему Вас не обязывает. Наш менеджер перезвонит Вам, уточнит детали и вышлет детальное коммерческое предложение</p>
                <p class="popup-offer__recall">Или перезвоните сами</p>
                <a class="popup-offer__recall-link" href="tel:+79272705330">+7 927 270 53 30</a>
                <button type="submit" value="Submit" class="popup-offer__submit btn-submit button button--submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
