<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__left">
                <div class="footer__left-line">
                    <div class="footer__left-cell footer__left-cell--ul">
                        <a href="tel:+79272705330" class="footer__num-link footer__cell footer__link">+7 927 270 53 30
                        <p>Заказать звонок</p></a>
                    </div>
                    <div class="footer__left-cell footer__left-cell--msc">
                        <a href="tel:+7904181-60-04" class="footer__num-link footer__cell footer__link">+7 904 181-60-04
                            <p>Заказать звонок</p></a>
                    </div>
                    <div class="footer__left-cell footer__left-cell--sah">
                        <a href="tel:+7904181-60-04" class="footer__num-link footer__cell footer__link">+7 904 181-60-04
                            <p>Заказать звонок</p></a>
                    </div>
                </div>
                <div class="footer__left-line">
                    <div class="footer__left-cell footer__cell footer__left-cell--ul-pin">Ульяновск, Московское шоссе 92, офис 1205</div>
                    <div class="footer__left-cell footer__cell footer__left-cell--msc-pin">Москва, Москва-сити, башня Москва, оф. 413</div>
                    <div class="footer__left-cell footer__cell footer__left-cell--sah-pin">Южно-Сахалинск, ул. Милицейская, 11-а</div>
                </div>
                <div class="footer__left-line footer__mail">
                    <div class="footer__left-cell footer__cell">
                        <a href="mailto:support@agatech.ru" class="footer__link footer__cell footer__mail-link">support@agatech.ru</a>
                    </div>
                    <div class="footer__left-cell footer__cell">
                        <a href="mailto:admin@agatech.ru" class="footer__link footer__cell footer__mail-link">admin@agatech.ru</a>
                    </div>
                    <div class="footer__left-cell footer__cell">
                        <a href="mailto:admin@agatech.ru" class="footer__link footer__cell footer__mail-link">admin@agatech.ru</a>
                    </div>
                </div>
                <p class="footer__copyright">
                    Copyright © Интернет-агентство полного цикла AGATECH 2021
                </p>
            </div>
            <div class="footer__left-m">
                <div class="footer__left-line">
                    <div class="footer__left-cell footer__left-cell--city">Ульяновск</div>
                    <div class="footer__left-cell footer__left-cell--ul">
                        <a href="tel:+79272705330" class="footer__num-link footer__cell footer__link">+7 927 270 53 30
                            <p>Заказать звонок</p></a>
                    </div>
                    <div class="footer__left-cell footer__cell footer__left-cell--ul-pin">Ульяновск, Московское шоссе 92, офис 1205</div>
                    <div class="footer__left-cell footer__cell">
                        <a href="mailto:support@agatech.ru" class="footer__link footer__cell footer__mail-link">support@agatech.ru</a>
                </div>

            </div>
                <div class="footer__left-line">
                    <div class="footer__left-cell footer__left-cell--city">Москва</div>
                    <div class="footer__left-cell footer__left-cell--ul">
                        <a href="tel:+79041816004" class="footer__num-link footer__cell footer__link">+7 904 181-60 04
                            <p>Заказать звонок</p></a>
                    </div>
                    <div class="footer__left-cell footer__cell footer__left-cell--ul-pin">Москва, Москва-сити, башня Москва, оф. 413</div>
                    <div class="footer__left-cell footer__cell">
                        <a href="mailto:admin@agatech.ru" class="footer__link footer__cell footer__mail-link">admin@agatech.ru</a>
                    </div>

                </div>
                <div class="footer__left-line">
                    <div class="footer__left-cell footer__left-cell--city">Южно-Сахалинск</div>
                    <div class="footer__left-cell footer__left-cell--ul">
                        <a href="tel:+79041816004" class="footer__num-link footer__cell footer__link">+7 904 181-60 04
                            <p>Заказать звонок</p></a>
                    </div>
                    <div class="footer__left-cell footer__cell footer__left-cell--ul-pin">Южно-Сахалинск, ул. Милицейская, 11-а</div>
                    <div class="footer__left-cell footer__cell">
                        <a href="mailto:admin@agatech.ru" class="footer__link footer__cell footer__mail-link">admin@agatech.ru</a>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__right-block footer__social">
                    <div class="footer__right-line">
                        <a href="https://www.instagram.com" class="footer__link footer__cell footer__social-link" target="_blank">
                            <img class="footer__social-link-pic" src="/img/footer/instagram.svg" alt="instagram">
                        </a>
                        <a href="https://www.youtube.com" class="footer__link footer__cell footer__social-link" target="_blank">
                            <img class="footer__social-link-pic" src="/img/footer/youtube.svg" alt="instagram">
                        </a>
                        <a href="https://www.facebook.com" class="footer__link footer__cell footer__social-link" target="_blank">
                            <img class="footer__social-link-pic" src="/img/footer/facebook.svg" alt="instagram">
                        </a>
                        <a href="https://www.vk.com" class="footer__link footer__cell footer__social-link" target="_blank">
                            <img class="footer__social-link-pic" src="/img/footer/vk.svg" alt="instagram">
                        </a>
                    </div>
                </div>
                <div class="footer__right-block footer__brand">
                    <div class="footer__right-line">
                        <a href="javascript:void(0);" class="footer__link footer__cell footer__brand-link">
                            <img src="/img/footer/logo.svg" alt="logo"> Логотип
                        </a>
                        <a href="javascript:void(0);" class="footer__link footer__cell footer__brand-link">
                            <img src="/img/footer/brandbook.svg" alt="logo"> Бренд-бук
                        </a>
                    </div>
                </div>
                <div class="footer__right-block footer__docs">
                    <div class="footer__right-line footer__title-line">
                        <div class="footer__right-cell footer__cell">Реквизиты</div>
                        <div class="footer__right-cell footer__cell">ИНН</div>
                        <div class="footer__right-cell footer__cell">ОГРН</div>
                    </div>
                    <div class="footer__right-line">
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ООО “АГАТЕЧ КОРПОРЕЙШН”</a>
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ООО “АГАТЕЧ КОРПОРЕЙШН”</a>
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ООО “АГАТЕЧ КОРПОРЕЙШН”</a>
                    </div>
                    <div class="footer__right-line">
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ИП Асташенков</a>
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ИП Асташенков</a>
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ИП Асташенков</a>
                    </div>
                    <div class="footer__right-line">
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ИП Абрамова</a>
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ИП Абрамова</a>
                        <a href="javascript:void(0);" class="footer__right-cell footer__cell">ИП Абрамова</a>
                    </div>
                    <p class="footer__copyright-m footer__copyright">Copyright © Интернет-агентство полного&nbsp;цикла AGATECH 2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
