<header class="header">
    <div class="header__left-col">
        <div class="header__logo">
            <img src="/img/logo_header.svg" alt="" class="logo__img">
        </div>
        <div class="header__slogan">Создаем и улучшаем<br>цифровые продукты</div>
    </div>
    <div class="header__menu-list">
        <a class="menu__list-item" href="javascript:void(0);">Разработка сайтов</a>
        <a class="menu__list-item" href="javascript:void(0);">Продвижение сайтов</a>
        <a class="menu__list-item" href="javascript:void(0);">Сопровождение сайтов</a>
        <a class="menu__list-item" href="javascript:void(0);">Битрикс 24</a>
        <a class="menu__list-item" href="javascript:void(0);">IT Академия</a>
        <a class="menu__list-item" href="javascript:void(0);">Продукты</a>
    </div>
    <div class="header__right-col">
        <div class="header__call-order">
            <a class="header__call-link" href="tel:+79272705330">
                <img class="header__call-link-img" src="/img/call.svg" alt="">
                <div class="header__call-link-text">+7 927 270 53 30<br><p class="header__call-description">Заказать звонок</p></div>
            </a>
        </div>
        <div class="header__menu">
            <div class="menu-icon">
                <span></span>
            </div>
            <div class="menu-body">
                <div class="burger__menu-list">
                    <a class="menu__list-item" href="javascript:void(0);">Разработка сайтов</a>
                    <a class="menu__list-item" href="javascript:void(0);">Продвижение сайтов</a>
                    <a class="menu__list-item" href="javascript:void(0);">Сопровождение сайтов</a>
                    <a class="menu__list-item" href="javascript:void(0);">Битрикс 24</a>
                    <a class="menu__list-item" href="javascript:void(0);">IT Академия</a>
                    <a class="menu__list-item" href="javascript:void(0);">Продукты</a>
                </div>
            </div>
        </div>
    </div>
</header>
