.portfolio {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin-bottom: 35px;
    }

    &__list-item {
        flex-basis: 33.33333333%;
        max-height: 330px;
        overflow: hidden;
    }

    &__img {
        transition: .6s;
        width: 100%;
        object-fit: contain;
    }

    &__img:hover {
        transform: translateY(-15%);
    }


}

@media (max-width: 1650px) {

    .portfolio {

        &__list-item {
            max-height: 265px;
        }
    }
}

@media (max-width: 1400px) {

    .portfolio {

        &__list-item {
            max-height: 200px;
        }
    }
}

@media (max-width: 1024px) {

    .portfolio {

        &__list-item {
            flex-basis: 50%;
            overflow: visible;
            max-height: 100%;
        }

        &__img:hover {
            transform: translateY(0);
        }
    }
}

