.button {
    display: inline-block;
    padding: 14px;
    background-color: $blue;
    border-radius: 40px;
    color: $white;
    text-align: center;
    transition: $fast;
    border: 1px solid transparent;
    font-size: 21px;

    &:hover {
        background: $white;
        color: $blue;
        border: 1px solid $blue;
    }

    &--tariffs {
        min-width: 276px;
        //position: absolute;
        //bottom: 0;
    }

    &--submit {
        font-size: 24px;
        line-height: 28px;
        margin: auto;
    }

    &--white {
        background-color: $white;
        color: $blue;
        border: 1px solid $blue;
        transition: .3s;

        &:hover {
            background-color: $blue;
            color: $white;
        }

    }
}

@media (max-width: 1024px) {
    .button {
        font-size: 18px;
    }
}


.button--discount {
    width: 489px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

.button--portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 60px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    width: 457px;
}

@media (max-width: 600px) {
    .button--portfolio {
        width: 300px;
        font-size: 14px;
        height: 50px;
    }
}
