.about {

    &__text {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        width: 1094px;
        margin: 0 auto;
    }
}

@media (max-width: 1224px) {

    .about {

        &__text {
            font-size: 18px;
            line-height: 24px;
            width: 100%;
        }
    }
}
